# .gitconfig

[user]
	name = evanmarshall-dev
	email = me@evanmarshall.dev
[init]
	defaultBranch = main
[core]
	excludesfile = /home/evanmarshall/.gitignore_global
	autocrlf = input
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = false
